
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <!-- <a class="navbar-brand" href="#!"><img src="./assets/img/logo-ixtapp.png" alt="..." /></a> -->
        <h1 class="text-white">IXTAPP</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
                <li class="nav-item"><a class="nav-link" href="/servicios">SERVICIOS</a></li>
                <li class="nav-item"><a class="nav-link" href="/bolsa">BOLSA DE TRABAJO</a></li>
                <li class="nav-item"><a class="nav-link" href="/acerca">¿QUIENES SOMOS?</a></li>
                <li class="nav-item"><a class="nav-link" href="/registro" id="navRegistro">REGISTRO</a></li>
                <li class="nav-item"><a class="nav-link" href="/login" id="navLogin">INICIAR SESION</a></li>
                <li class="nav-item"><a class="nav-link" href="/miperfil" id="navPerfil" >MI PERFIL</a></li>
                <li class="nav-item"><a class="nav-link" onclick="logOut()" id="navLogOut" >CERRAR SESION</a></li>

            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">BIENVENIDO A IXTAPP</div>
        <div class="masthead-heading text-uppercase">Mah cualli xihualacan</div>
        <div class="masthead-heading text-uppercase">keta va'ando</div>

    </div>
</header>