<%- include('../partials/head', {tituloWeb: 'Quienes Somos', estilos: 'styles.css'}); %>
<%- include('../partials/header'); %>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Nuestro Equipo de IxtApp</h2>
                    <h3 class="section-subheading text-muted">Grupo de desarrolladores en busca de ayudar a la comunidad.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/jose.jpg" alt="..." />
                            <h4>Jose Armando</h4>
                            <p class="text-muted">Jimenez Morales</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/ana.jpg" alt="..." />
                            <h4>Ana Laura</h4>
                            <p class="text-muted">Saavedra Ventura</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/daniel.jpg" alt="..." />
                            <h4>Jose Daniel</h4>
                            <p class="text-muted">Juarez Martinez</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/carlos.jpg" alt="..." />
                            <h4>Carlos Alberto</h4>
                            <p class="text-muted">Ortega Cordova</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Es una aplicación de fácil manejo que está construida en fases, 
                        para generar una capacitación a diferentes oficios y ofrecer oportunidades mediante una bolsa de trabajo, 
                        al igual que tendrá acceso a enlaces de educaciones que permiten la liberación de certificados (nivel básico, medio superior) 
                        en zonas marginadas de Ixtapaluca alejadas de la urbe. </p></div>
                </div>
            </div>
        </section>

<script type="module" src="./js/providers/verificar-token.js"></script>
        
<%- include('../partials/footer'); %>

<%- include('../partials/foot'); %>