<%- include('../partials/head', {tituloWeb: 'Servicios', estilos: 'styles.css'}); %>
<%- include('../partials/header'); %>



        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Servicios</h2>
                    <h3 class="section-subheading text-muted">En esta seccion se muestran los servicios que ofrece tu comunidad.</h3>
                </div>
                
            </div>
        </section>

<div class="container">
    <div class="row  "  id="serviciosContent">
        <!-- contenido de servicios -->
        <div class="col-sm-12 "  id="serviciosContent">

        </div>
     
    </div>
</div>




        
<script type="module" src="./js/providers/verificar-token.js"></script>
<script type="module" src="./js/providers/loadServices.js"></script>


<%- include('../partials/footer'); %>

<%- include('../partials/foot'); %>
